.card-title{
    height: 120px;
    overflow: hidden;
}

.margin-top{
    margin-top: 20px;
}

.card-outline{
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    border-top: 5px solid rgb(116, 43, 175) !important;
}

.p-card{
    border: none;
}
